@import "_variables.scss";

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: $metaverse-font-color;
}

h1 {
  font-size: $metaverse-h1-size;
  color: $metaverse-header-color;
  margin: unset;
}

h2 {
  font-size: $metaverse-h1-size;
  color: $metaverse-header-color;
  font-weight: 200;
}

p {
  font-size: $metaverse-text-size;
}