// Colors

$metaverse-bg-color: black;
$metaverse-nav-color: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
$metaverse-header-color: black;
$metaverse-font-color: black;
$metaverse-link-color: white;
$metaverse-footer-color: black;


// Sizes
$metaverse-h1-size: 36pt;
$metaverse-h2-size: 24pt;
$metaverse-text-size: 16pt;