// Colors

$metaverse-bg-color: #cfd8dc;
$metaverse-nav-color: #eceff1;
$metaverse-font-color: #424242;
$metaverse-footer-color: #9e9e9e;


// Sizes
$metaverse-h1-size: 36pt;
$metaverse-text-size: 16pt;