// Colors

$metaverse-bg-color: #D1C4E9;
$metaverse-nav-color: #9FA8DA;
$metaverse-font-color: #212121;
$metaverse-footer-color: #9FA8DA;
$metaverse-header-color: #1A237E;

// Sizes
$metaverse-h1-size: 36pt;
$metaverse-text-size: 16pt;